body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.top-box {
    background-color: #e5f3f2;
    height: 300px;
}

h1{
    color: #6d6e71;
    display: inline-block;
    font-size: 275%;
    margin-bottom:  30px;
}

.idea {
    color: #00a79d;
}

#title-input {
    height: 30px;
    width: 45%;
}

#body-input {
    height: 30px;
    width: 45%;
}

#search-input {
    height: 30px;
    margin-top: 50px;
    width: 45%;
}

.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 120%;
    height: 30px;
    width: 45.5%;
}

.save-btn:hover {
    background-color: #045e55;
}

input {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: auto;
}

.card-container {
    margin: auto;
    position: relative;
    width: 45%;
}

.card {
    
}

.title-of-card{
    color: #6D6E71;
    display: inline-block;
    font-size: 140%;
}


p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}


button {
    background-color: transparent;
    border: none;
}

.upvote {
    background-image: url(./images/upvote.svg);
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.upvote:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
    height: 20px;
    width: 20px;
}

.downvote {
    background-image: url(./images/downvote.svg);
    height: 20px;
    margin-right: 5px; 
    width: 20px;
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
    height: 20px;
    width: 20px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
    height: 20px;
    width: 20px;
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

  }

